.body {
    background-color: var(--bg-main);
}

.title {
    text-align: center;
    margin: 30px 0 30px 0;
}

.title h1 {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary-color);
}

.dashboard-carousel {
    width: 95%;
    height: 250px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}
.dashboard-carousel swiper-slide{
    color: black;
}

.divider {
    margin: 10px 25px 0 25px;
    border: black 1px solid;
}

.descriptor {
    width: 80%;
    margin: 25px auto 0 auto;
    text-align: center;

    background-color: var(--description);
    padding: 10px 10px 20px 10px;
    border-radius: 15px;
}

.descriptor h1 {
    color: var(--text-white);
    text-align: center;
}

/* shopping card area */

/* SHOP FOR section */

.shop-section {
    width: 100%;
}

.shop-title {
    text-align: center;
    margin: 25px 0 0 0;
    font-size: 1.5rem;
}

.shopcard-container {
    display: flex;
    flex-direction: row;
    min-height: 350px;
    padding: 25px 15px 0 15px;
    margin-bottom: 50px;
    gap: 15px;
}

.shopcard {
    border-radius: 20px;
    width: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shopcard img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 80%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.shopcard:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.20);
}

.shopcard:hover img {
    transform: scale(1);
}

.shopcard-title {
    text-align: center;
    background-color: var(--bg-main);
}

.Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-container a {
    text-decoration: none;
    font-size: 16px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: var(--secondary-color);
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px 0 10px 0;
}

.contact-btn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.add-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    margin: 10px 0 0 0;
    font-size: 14px;
}
