/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-wewak-50: #fff1f3;
  --color-wewak-100: #ffe3e7;
  --color-wewak-200: #ffccd5;
  --color-wewak-300: #ffa6b6;
  --color-wewak-400: #fe6e8b;
  --color-wewak-500: #f83b66;
  --color-wewak-600: #e51951;
  --color-wewak-700: #c20e44;
  --color-wewak-800: #a20f40;
  --color-wewak-900: #8b103d;
  --color-wewak-950: #4e031c;

  --color-island-spice-50: #fffbed;
  --color-island-spice-100: #fef2c7;
  --color-island-spice-200: #fde38a;
  --color-island-spice-300: #fccf4d;
  --color-island-spice-400: #fbba24;
  --color-island-spice-500: #f5990b;
  --color-island-spice-600: #d97206;
  --color-island-spice-700: #b44f09;
  --color-island-spice-800: #923d0e;
  --color-island-spice-900: #78330f;
  --color-island-spice-950: #451903;
}
